<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>width</key>
	<integer>2</integer>
	<key>height</key>
	<integer>1</integer>
	<key>initial position</key>
	<dict>
		<key>x</key>
		<string>0</string>
		<key>y</key>
		<string>0</string>
	</dict>
	<key>final destination</key>
	<dict>
		<key>x</key>
		<string>1</string>
		<key>y</key>
		<string>0</string>
	</dict>
</dict>
</plist>
