<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimum lines of code</key>
	<integer>30</integer>
	<key>height</key>
	<integer>3</integer>
	<key>width</key>
	<integer>6</integer>
	<key>initial position</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>final destination</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>beepers</key>
	<array>
		<dict>
			<key>x</key>
			<string>3</string>
			<key>y</key>
			<string>1</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>final beepers</key>
	<array>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>walls</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
			<key>direction</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
